html, body {
    height: 100%;
    margin: 0;
}

body {
    /*background-image: url("img/1234.jpg");*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

p {
    position: absolute;
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
    color: chartreuse;
    font-size: 25px;
    top: 20px;
}
