html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('http://tapchimoitruong.vn/Files/Luu%20Trang%20-%20%20%E1%BA%A3nh/1.2018/samac2.png') ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
